<!DOCTYPE html>
<html>
  <head>
    <title>Post Detail</title>
  </head>
  <body>
    <h2>{{ post.title }}</h2>
    <img src="{{ post.image_Post.url }}" alt="Image" />
    <a href="{% url 'profile' pk=post.user.id %}">View Profile</a>

    <!-- Display Like Button -->
    <form action="{% url 'like_post' pk=post.pk %}" method="post">
      {% csrf_token %}
      <button type="submit" class="like-btn">
        {% if liked %} Unlike {% else %} Like {% endif %}
      </button>
    </form>

    <!-- Display Likes -->
    <p>Likes: {{ likes_count }}</p>

    <!-- Display Comment Form -->
    <h3>Add Comment</h3>
    <form action="{% url 'add_  comment' image_post_id=post.pk %}" method="post">
      {% csrf_token %}
      <label for="comment_text">Your Comment:</label><br />
      <textarea
        id="comment_text"
        name="comment_text"
        rows="4"
        cols="50"
      ></textarea
      ><br />
      <button type="submit">Submit Comment</button>
    </form>

    <!-- Button to Toggle Comments -->
    <button id="toggle-comments">List Comments</button>

    <!-- Display Comments -->
    <div id="comment-section" style="display: none">
      <h3>Comments</h3>
      {% for comment in comments %}
      <p>{{ comment.commented_by }}: {{ comment.comment_text }}</p>
      {% empty %}
      <p>No comments yet.</p>
      {% endfor %}
    </div>

    <!-- JavaScript to Toggle Comments Display -->
    <script>
      document
        .getElementById("toggle-comments")
        .addEventListener("click", function () {
          var commentSection = document.getElementById("comment-section");
          if (commentSection.style.display === "none") {
            commentSection.style.display = "block";
            // Send AJAX request to fetch comments if needed
          } else {
            commentSection.style.display = "none";
          }
        });
    </script>
  </body>
</html>
