* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ssh -i ~/Documents/Demo\ Practice/PythonDjango/awsKey.pem ubuntu@3.27.173.45 */
/* scp -i awsKey.pem Pinterest_Django.zip  ubuntu@3.27.173.45:~/ */
body {
  /* color: rgb(33, 25, 34); */
  font-family: var(--font-family-latin);
}
:root {
  --header-pin-bg: #cc0000;

  --basic-font-size: 16px;
  --most-common-color: #111111;
  --font-family-latin: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Arial,
    sans-serif;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  /* background-color: black; */
  height: 80px;
  padding: 4px 16px;
  align-items: center;
  border-bottom: 1px solid #cdcdcd;
}
.nav-bar input {
  flex-grow: 45;
  height: 48px;
  border-radius: 50px;
  outline: none;
  padding-block: 1px;
  padding-inline: 2px;
  background-color: transparent;
  border: none;
  background-color: #e9e9e9;
  color: #333;
  font-size: 16px;
  /* outline: 1px solid; */
  padding: 0 16px;
  /* border: none; */
}
.nav-bar div:not(:nth-last-child(-n + 4)) {
  flex-grow: 0.5;
  justify-items: center;
  display: flex;
  justify-content: center;
}
.nav-bar div:nth-last-child(-n + 4) {
  justify-items: center;
  display: flex;
  justify-content: center;
  flex-grow: 0.5;
}
.nav-bar div:not(:nth-child(4)) > a {
  font-size: var(--basic-font-size);
  text-align: center;
  font-weight: 600;
  color: var(--most-common-color);
  text-decoration: none;
  /* height: 48px; */
  min-width: 60px;
  align-items: center;
  font-family: var(--font-family-latin);
}
.nav-bar div:nth-child(4) > a {
  font-size: var(--basic-font-size);
  text-align: center;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  height: 48px;
  display: flex;
  justify-content: center;
  /* box-sizing: border-box; */
  border-radius: 24px;
  padding: 0px 16px;
  background-color: #111111;
  min-width: 60px;
  align-items: center;
  font-family: var(--font-family-latin);
}

.nav-bar div:nth-last-child(-n + 4) > a {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}
.nav-bar div:nth-last-child(-n + 4) {
  width: 38px;
  height: 38px;
}
.nav-bar div:nth-last-child(-n + 4) :hover {
  background-color: #e9e9e9;
  border-radius: 100%;
}
.grid-container {
  height: calc(100vh - 80px);
  /* background-color: black; */
  width: 100%;
  display: flex;
}
.grid-container > div {
  border: 1px solid #cdcdcd;
  border-right: none;
}
.grid-container div:first-child {
  flex: 1;
}
.grid-container div:first-child + div {
  flex: 22;
}
.title {
  height: 81px;
  display: flex;
  align-items: center;
  /* border: 1px solid #cdcdcd; */
  border-bottom: 1px solid #cdcdcd;
  padding: 0 40px;
  justify-content: space-between;
}
.title > h1 {
  font-size: 22px;
  font-weight: 600;
}
.title button {
  display: none;
  min-width: 60px;
  height: 48px;
  color: #fff;
  background-color: #e60023;
  font-family: var(--font-family-latin);
  font-size: 16px;
  border-radius: 50px;
  font-weight: 600;
  box-sizing: border-box;
  padding: 0 20px;
  border: none;
  outline: none;
}
.title button:hover {
  background-color: var(--header-pin-bg);
}
.sidebar1 > div {
  width: 100%;
  height: 80px;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.sidebar1 > div:last-child {
  border-bottom: 1px solid #cdcdcd;
}

/* .sample {
  background-color: black;
  width: 300px;
  height: 400px;
} */
.imagesetup {
  display: flex;
  /* align-items: center; */
  width: 70%;
  min-height: 40vh;
  align-items: left;
  justify-content: space-between;
  gap: 100px;
  /* max-height: 50vh; */
  margin: 50px auto;
  box-sizing: border-box;
}
.imagesetup > form {
  flex: 1;
}
.imagesizefixer {
  flex: 1;
}
.imagesetup > form .label_tag {
  margin: 4px 4px 0px 4px;
}
.form-field,
.imagesetup form select {
  margin: 10px 0px;
  height: 30px;
  width: 80%;
  border-radius: 16px;
  border: 1px solid black;
  outline: none;
  padding: 8px 10px;
  font-family: var(--font-family-latin);
  font-size: var(--basic-font-size);
}

/* change made */

.imagesizefixer {
  max-height: 66vh;
  /* width: 100px; */
  max-width: 370px;
  background-color: #e9e9e9;
  border-radius: 18px;
}

.imagesizefixer > img {
  /* aspect-ratio: 1/3; */
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 18px;
}
.form-field-textarea {
  height: 60px; /* Adjust the height as needed */
  resize: vertical;
  width: 80%;
  padding: 20px;
  font-family: var(--font-family-latin);
  font-size: var(--basic-font-size);
  border-radius: 20px;
  margin: 5px 0px;
}
.imagesetup form select {
  width: 85%;
  height: 35px;
  cursor: pointer;
}
.imagesetup input:focus,
.imagesetup form select:focus,
.form-field-textarea:focus {
  border: 2px solid #a5a5a5;
  outline: 4.5px solid #45a3fe;
}
.sidebar {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 30px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px;
  float: right;
  /* display: flex; */
  /* margin-top: 100px; */
  z-index: 5;
  margin-right: 20px;
  background-color: #fff;
  min-height: 40px;
  min-width: 200px;
  max-height: 90vh;
  max-width: 368px;
  border: 1px solid;
  border-radius: 16px;
  padding: 5px 15px;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  top: 100px;
  outline: none;
  border: none;
  display: none;
}
.sidebar > p {
  color: var(--most-common-color);
  font-weight: 400;
  font-family: var(--font-family-latin);
  font-size: 12px;
  margin: 5px 5px;
}
.yourAccounts button,
.moreOptions p,
.moreOptions a {
  font-size: 16px;
  font-weight: 600;
  color: var(--most-common-color);
  cursor: pointer;
  margin: 5px 0;
  padding: 5px 5px;
  width: 280px;
  padding: 8px;
}
.yourAccounts {
  display: flex;
  flex-direction: column;
}
.yourAccounts button {
  text-align: left;
  border: none;
  margin: 2px 0;
  outline: none;
  background-color: transparent;
  font-family: var(--font-family-latin);
}
.yourAccounts button:hover,
.moreOptions p:hover,
.moreOptions a:hover {
  border-radius: 15px;
  background-color: #e9e9e9;
}
.moreOptions a {
  text-decoration: none;
  margin-bottom: 5px;
  width: 95%;
  display: block;
}
#createboard,
#boardslist {
  margin-top: 100px;
}

.alert {
  margin: 50vh;
}
