* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}
body {
  /* color: rgb(33, 25, 34); */
  font-family: var(--font-family-latin);
}
/* body {
  padding-top: 80px; /* Adjust this value to match the height of your fixed header */

:root {
  --header-pin-bg: #cc0000;

  --basic-font-size: 16px;
  --most-common-color: #111111;
  --font-family-latin: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Arial,
    sans-serif;
}
header {
  position: fixed;
  width: 100%;
  z-index: 3;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  /* background-color: black; */
  height: 80px;
  padding: 4px 16px;
  align-items: center;
  background-color: #fff;
}
.nav-bar input {
  flex-grow: 45;
  height: 48px;
  border-radius: 50px;
  outline: none;
  padding-block: 1px;
  padding-inline: 2px;
  background-color: transparent;
  border: none;
  background-color: #e9e9e9;
  color: #333;
  font-size: 16px;
  /* outline: 1px solid; */
  padding: 0 16px;
  /* border: none; */
}
.nav-bar div:not(:nth-last-child(-n + 4)) {
  flex-grow: 0.5;
  justify-items: center;
  display: flex;
  justify-content: center;
}
.nav-bar div:nth-last-child(-n + 4) {
  justify-items: center;
  display: flex;
  justify-content: center;
  flex-grow: 0.5;
}
.nav-bar div:not(:nth-child(2)) > a {
  font-size: var(--basic-font-size);
  text-align: center;
  font-weight: 600;
  color: var(--most-common-color);
  text-decoration: none;
  /* height: 48px; */
  min-width: 60px;
  align-items: center;
  font-family: var(--font-family-latin);
}
.nav-bar div:nth-child(2) > a {
  font-size: var(--basic-font-size);
  text-align: center;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  height: 48px;
  display: flex;
  justify-content: center;
  /* box-sizing: border-box; */
  border-radius: 24px;
  padding: 0px 16px;
  background-color: #111111;
  min-width: 60px;
  align-items: center;
  font-family: var(--font-family-latin);
}

.nav-bar div:nth-last-child(-n + 4) > a {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}
.nav-bar div:nth-last-child(-n + 4) {
  width: 45px;
  height: 45px;
  border-radius: 50%; /* Ensure the element is round */
}

.nav-bar div:nth-last-child(-n + 4):hover {
  background-color: #e9e9e9;
}
.container {
  width: 92%;
  margin: 10px auto;
  column-count: 7;
  column-gap: 8px;
}
.box {
  width: 100%;
  margin-bottom: 5px;
}
.box a {
  max-width: 100%;
}

.box img {
  max-width: 100%;
  margin-bottom: 5px;
  border-radius: 15px;
}
/* .welcome {
  margin-top: 80px;
} */
.container {
  margin-top: 200px;
}
.welcome,
.welcome ~ a,
.welcome ~ a ~ button {
  top: 100px;
  position: relative;
  z-index: 0;
}
.sidebar {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 30px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px;
  float: right;
  /* display: flex; */
  /* margin-top: 100px; */
  z-index: 5;
  margin-right: 20px;
  background-color: #fff;
  min-height: 40px;
  min-width: 200px;
  max-height: 90vh;
  max-width: 368px;
  border: 1px solid;
  border-radius: 16px;
  padding: 5px 15px;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  top: 100px;
  outline: none;
  border: none;
  display: none;
}
.sidebar > p {
  color: var(--most-common-color);
  font-weight: 400;
  font-family: var(--font-family-latin);
  font-size: 12px;
  margin: 5px 5px;
}
.profilenavigation {
  display: flex;
  gap: 30px;
  overflow-wrap: break-word;
  text-decoration: none;
  margin-bottom: 15px;
}
.profilenames {
  color: var(--most-common-color);
  font-size: 25px;
  font-weight: 500;
}
.profilenames p {
  color: #a09a9ad2;
  font-size: 13px;
}
.yourAccounts button,
.moreOptions p,
.moreOptions a {
  font-size: 16px;
  font-weight: 600;
  color: var(--most-common-color);
  cursor: pointer;
  margin: 5px 0;
  padding: 5px 5px;
  width: 280px;
  padding: 8px;
}
.yourAccounts {
  display: flex;
  flex-direction: column;
}
.yourAccounts button {
  text-align: left;
  border: none;
  margin: 2px 0;
  outline: none;
  background-color: transparent;
  font-family: var(--font-family-latin);
}
.yourAccounts button:hover,
.moreOptions p:hover,
.moreOptions a:hover {
  border-radius: 15px;
  background-color: #e9e9e9;
}
.moreOptions a {
  text-decoration: none;
  margin-bottom: 5px;
  width: 95%;
  display: block;
}
#createboard,
#boardslist {
  margin-top: 100px;
}
#fetchCreateBoardForm {
  /* margin-top: 150px; */
}
.displayingboards {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
